{% extends "base.html" %}
{% block title %}Livery Hub{% endblock %}

{% block hero %}

<div class="px-4 py-5 text-center bg-image" style="height:30vh;">
    <div style="height: 30%;"></div>
    <h1 class="display-5 fw-bold text-body-emphasis">Livery Hub</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">All your Aeronautica livery sharing needs. Quickly share, view, and like liveries! Join our community today.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/liveries"><button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">View Liveries</button></a>
        </div>
    </div>
</div>

{% endblock %}

{% block body %} {% endblock %}